---
import i18next, { t } from "i18next";
import { formatDate, getSize, getStories } from "../utils/functions";
import { storyblokEditable } from "@storyblok/astro";
import RichTextRenderer from "storyblok-rich-text-astro-renderer/RichTextRenderer.astro";
import Svg from "./Svg.astro";
import { Photo } from "astro-carousel";

const { path } = Astro.params;
const { blok } = Astro.props;

const slugsArray = path?.replace(`${i18next.language}/`, "").split("/");
const slugs = slugsArray?.map(
  (_, i) =>
    slugsArray.slice(0, i + 1).join("/") +
    (i < slugsArray.length - 1 || i === 0 ? "/" : ""),
);

const {
  data: { stories },
} = await getStories({ params: `by_slugs=${slugs}` });
const currentStory = stories.find((s) => s.full_slug === path);
const publishedAt = formatDate(currentStory?.published_at);

const readingTime = calculateReadingTime(blok.article.content);

function calculateReadingTime(content: any[]) {
  const totalWords = _countWords(content);
  const time = totalWords / 200;
  const minutes = Math.ceil(time);
  return minutes;

  function _countWords(content: any[], count: number = 0) {
    for (const c of content) {
      if (c.content) {
        count += _countWords(c.content);
      } else if (c.text) {
        count += c.text.split(" ").length;
      }
    }
    return count;
  }
}
---

<section class="blog">
  <article>
    <header class="blog__header">
      <h3 class="blog__title">{blok.title}</h3>
      <div class="blog__metadata">
        <span>
          <Svg
            name="date"
            aria-label="Last updated"
            size="14"
          />
          {t("last-updated")}
          <time
            datetime={currentStory?.published_at}
            class="blog__time"
            >{publishedAt}</time
          >
        </span>
        <span>
          <Svg
            name="time"
            size="14"
          />
          <time class="blog__time">{readingTime}</time>
          {t("minutes")}
        </span>
        <span>
          <Svg
            name="person"
            aria-label="Written by"
            size="14"
          />
          {blok.author}
        </span>
      </div>
      <p class="blog__intro">{blok.intro}</p>
      <div class="blog__image">
        <Photo
          src={blok.image.filename}
          width={getSize(blok.image.filename).width}
          height={getSize(blok.image.filename).height}
          alt={blok.image.alt ?? ""}
          widths={[360, 720, 1280]}
          aspectRatio={getSize(blok.image.filename).width /
            getSize(blok.image.filename).height}
          loading="eager"
        />
      </div>
    </header>
    <RichTextRenderer
      content={blok.article}
      {...storyblokEditable(blok)}
    />
  </article>
</section>

<style lang="scss">
  .blog {
    &__header {
      padding: var(--space-m) 0;
    }
    &__title {
      font-size: var(--step-5);
    }

    &__intro {
      margin-top: var(--space-s);
      font-style: italic;
    }

    &__metadata {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-top: var(--space-xxs);
      color: var(--secondary);
      font-size: 0.75rem;
      & span {
        display: inline-flex;
        gap: 2px;
        align-items: center;
      }
    }

    &__image {
      margin-top: var(--space-s);
    }

    &__time {
      &::before,
      &::after {
        content: " ";
      }
    }
  }
</style>
