---
import i18next, { t } from "i18next";
import { useStoryblokApi } from "@storyblok/astro";
import { getStoryLocalizedPath, getVersion } from "../utils/functions";
import { getDate } from "../utils/functions";
import Breadcrumbs from "./Breadcrumbs.astro";
import Link from "./Link.astro";
import StoryblokImage from "./StoryblokImage.astro";

const storyblokApi = useStoryblokApi();

const { blok, lang } = Astro.props;

const slug = blok.slug || Astro.props.slug;

const {
  data: { stories },
} = await storyblokApi.get(
  `cdn/stories?starts_with=${slug}&language=${i18next.language}`,
  {
    version: getVersion(),
  }
);

// Display stories and folders that are in current folder
const root = stories.find((s) => slug.includes(s.slug));
const level = root?.full_slug.split("/").length - 1;
const storiesInRoot = stories
  .filter((story) => {
    if (
      story !== root &&
      story.full_slug.split("/").filter((s) => s).length === level + 1
    ) {
      return true;
    }
  })
  .sort(
    (a, b) =>
      new Date(b.content.from || new Date()).getTime() -
      new Date(a.content.from || new Date()).getTime()
  )
  .map((story) => ({ ...story, ...getStoryLocalizedPath(story) }));

// Add see more if limit is set
const maxItems = Math.min(Number(blok.maxItems), storiesInRoot.length);
const withLimit = maxItems && !isNaN(maxItems);
if (withLimit) {
  if (storiesInRoot.length > 1) {
    storiesInRoot.splice(maxItems);
  }
  storiesInRoot.push({
    ...root,
    ...getStoryLocalizedPath(root),
    name: t("see-more"),
  });
}

const defaultImage = blok.defaultImage.filename
  ? blok.defaultImage
  : null;
---

<div class:list={["container", { "container--cols": Boolean(defaultImage) }]}>
  <section class="container__nav">
    <Breadcrumbs {...Astro.props, {slug}} />

    <ul class:list={["linkList", { "linkList--limit": withLimit }]}>
      {
        storiesInRoot.map((s, i) => (
          <li class="linkList__elem">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="50"
              viewBox="0 0 25 50"
              fill="none"
              stroke="var(--secondary)"
              stroke-width="1.5"
            >
              <line
                x1="1"
                y1="25"
                x2="25"
                y2="25"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <line
                x1="1"
                y1="1"
                x2="1"
                y2={i < storiesInRoot.length - 1 ? 50 : 25}
              />
            </svg>
            <Link href={`/${s.localizedSlug}`} class="linkList__link">
              {t(s.name)}
              {t(s.name) != t("see-more") && (
                <div class="linkList__date">
                  {getDate(s.content.from, s.content.to, lang)}
                </div>
              )}
            </Link>
          </li>
        ))
      }
    </ul>
  </section>

  {
    defaultImage && (
      <StoryblokImage aspectRatio="4/5" blok={defaultImage} preload={true} />
    )
  }
</div>

<style lang="scss">
  .container {
    &--cols {
      @media screen and (min-width: 732px) {
        display: grid;
        grid-template-columns: 0.75fr 1fr;
        justify-items: flex-end;
        gap: var(--space-3xl);
      }
    }
    
    &__nav {
      display: inline-block;
      justify-self: flex-start;
    }

    &__picture {
      width: 100%;
      height: auto;
      aspect-ratio: 1/1;
      object-fit: cover;
      object-position: center;
    }
  }

  .linkList {
    margin: 0;
    padding: 0 var(--space-s) 0 0;
    list-style: none;

    @media screen and (min-width: 732px) {
      height: var(--max-height);
      overflow: hidden;
      &:hover {
        overflow: auto;
      }

      &--limit:hover {
        overflow: hidden;
      }
    }

    &__elem {
      display: grid;
      grid-template-columns: auto 1fr;
      height: 48px;
      align-items: center;
      gap: 0 var(--space-3xs);
    }
    &__link {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &__date {
      font-size: 0.75rem;
      color: var(--secondary);
    }
  }
</style>
