---
const { meta, title } = Astro.props;

const capitalizeTitle = (meta?.title || title || "")
  .split(" ")
  .map((s) => s.slice(0, 1).toUpperCase() + s.slice(1))
  .join(" ");

const defaultTitle = capitalizeTitle;
const defaultDescription = meta?.description || defaultTitle;
const defaultImage = meta?.image || "";
const metaTags = [
  { name: "title", content: defaultTitle },
  { name: "description", content: defaultDescription },
  {
    name: "og:image",
    content: defaultImage,
  },
  { name: "og:title", content: title || defaultTitle },
  {
    name: "og:description",
    content: defaultDescription,
  },
  {
    name: "twitter:image",
    content: defaultTitle,
  },
  {
    name: "twitter:title",
    content: defaultTitle,
  },
  {
    name: "twitter:descrition",
    content: defaultDescription,
  },
];
---

<>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{capitalizeTitle}</title>
  {
    metaTags.map(({ name, content }) => {
      if (name.includes("og")) {
        return <meta property={name} content={content} />;
      }
      return <meta name={name} content={content} />;
    })
  }
</>
