---
import i18next from "i18next";
import styles from "../styles/global.css?url";
import TheHeader from "../components/TheHeader.astro";
import Meta from "../components/Meta.astro";

const { title, slug, seo } = Astro.props;
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <Meta
      meta={seo}
      title={title}
    />
    <link
      rel="preload"
      as="style"
      href={styles}
    />
    <link
      rel="stylesheet"
      href={styles}
    />
    <slot name="head" />
  </head>
  <body>
    <TheHeader slug={slug} />
    <main>
      <slot />
    </main>
  </body>
</html>
