---
import "@fontsource/roboto-slab";
import "../styles/global.css";
import TheHeader from "../components/TheHeader.astro";
import SocialMeta from "../components/SocialMeta.astro";

const { title, slug, lang, translatedSlug, meta } = Astro.props;

const capitalizeTitle = title
  .split(" ")
  .map((s) => s.slice(0, 1).toUpperCase() + s.slice(1))
  .join(" ");
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SocialMeta meta={meta} title={title} />
    <title>{capitalizeTitle}</title>
  </head>
  <body class="body">
    <TheHeader {...{slug, lang, translatedSlug}} />
    <main class="main">
      <slot />
    </main>
    <style lang="scss">
      .body {
        max-width: 1040px;
        margin-left: auto;
        margin-right: auto;
        padding: var(--space-xs-s) var(--space-s-l);
        color: var(--primary);
        font-size: var(--step-0);
      }
    </style>
  </body>
</html>
