---
import i18next from "i18next";
import styles from "../styles/global.css?url";
import TheHeader from "../components/TheHeader.astro";
import Meta from "../components/Meta.astro";
import roboto400url from "@fontsource/roboto/files/roboto-latin-400-normal.woff2";
import roboto700url from "@fontsource/roboto/files/roboto-latin-700-normal.woff2";

const { title, slug, seo } = Astro.props;
const fonts = [roboto400url, roboto700url];
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <Meta
      meta={seo}
      title={title}
    />
    {
      fonts.map((url) => (
        <link
          rel="preload"
          href={url}
          as="font"
          type="font/woff2"
          crossorigin
        />
      ))
    }
    <link
      rel="preload"
      as="style"
      href={styles}
    />
    <link
      rel="stylesheet"
      href={styles}
    />
    <slot name="head" />
  </head>
  <body>
    <TheHeader slug={slug} />
    <main>
      <slot />
    </main>
  </body>
</html>
