---
import i18next from "i18next";
import styles from "../styles/global.css?url";
import TheHeader from "../components/TheHeader.astro";
import Meta from "../components/Meta.astro";

const { title, slug, seo } = Astro.props;
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <Meta
      meta={seo}
      title={title}
    />
    <link
      rel="preload"
      as="style"
      href={styles}
    />
    <link
      rel="stylesheet"
      href={styles}
    />
    <slot name="head" />

    <style is:inline>
      .body {
        max-width: 1040px;
        margin-left: auto;
        margin-right: auto;
        padding: var(--space-xs-s) var(--space-s-l);
        color: var(--primary);
        font-size: var(--step-0);
      }
    </style>
  </head>
  <body class="body">
    <TheHeader slug={slug} />
    <main class="main">
      <slot />
    </main>
  </body>
</html>
